.card {
  position: relative;
  height: 100px;
  width: 100px;
}

.card > img {
  position: absolute;
  height: 100px;
  width: 100px;
}

.visible {
  transform: rotateY(0deg);
}

.not-visible {
  transform: rotateY(90deg);
}

/* .flipped {
  transform: rotateY(90deg);
} */

/* .card-face {
  position: absolute;
  transform: rotateY(90deg);
}

.rotate-cover {
  animation: rotate-cover-animation 0.5s 1 alternate ease-out forwards;
}

@keyframes rotate-cover-animation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
  }
}

.rotate-front {
  animation: rotate-front-animation 0.5s 1 alternate ease-out 0.5s forwards;
}

@keyframes rotate-front-animation {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
} */
