.card {
  position: relative;
  cursor: pointer;
  border: 1px solid #fefefe;
  border-radius: 4px;
}

.card img {
  width: 100%;
  display: block;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  transition-delay: 0.5s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.1s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.7s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

@keyframes rotate-front {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes rotate-back {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

/* .flipped {
  transform: rotateY(90deg);
} */

/* .card-face {
  position: absolute;
  transform: rotateY(90deg);
}

.rotate-cover {
  animation: rotate-cover-animation 0.5s 1 alternate ease-out forwards;
}

@keyframes rotate-cover-animation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
  }
}

.rotate-front {
  animation: rotate-front-animation 0.5s 1 alternate ease-out 0.5s forwards;
}

@keyframes rotate-front-animation {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
} */
