.App {
  text-align: center;
  font-family: "Inter";
}

button {
  color: #fefefe;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fefefe;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: medium;
  text-transform: uppercase;
}

button:hover {
  background-color: #fefefe;
  color: #2a0134;
}
